<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>searchbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043BF62E1EE25B0D00690CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043BF6471EE25B0D00690CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043BF6521EE25B0D00690CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
